/* .title{
    padding-bottom: 20px;
} */
 .container-1{
    padding-bottom: 20px;
 }
.container-overview{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: column;
     */
     flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    padding: 20px 0;
}

.card{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
@media(width>=1200px){
    .card{
        width: calc((100%/2) - 15px );
    }
}
.card .title{
    font-size: 20px;
    font-weight: 600;
    align-self: flex-start;
}
.card .overview{
    width: 100%;
}

/* .container-loanout{
    display: flex;
    padding: 20px 0;
    width: 100%;
    
}
.container-stock{
    display: flex;
    padding: 20px 0;
    width: 100%;
} */
.container-2{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    .container-loanout{
        width: 100%;
        gap: 15px;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container-stock{
        width: 100%;
        gap: 15px;

        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media(width>=1200px){
    .container-2{
        .container-loanout{
            width: 55%;

        }
        .container-stock{
            width: 43%;
        }
    }
}