navBar{
  /* height: 10vh; */
  display: flex;
  /* width: 100%; */
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  /* background-color: white; */
  /* box-shadow: 0 5px 10px rgb(228, 228, 228) */
}
.logo{
  display: flex;
  align-items: center;
  gap : 15px;
  img{
    width: 50px;
  }
  p{
    font-weight: 600;
    font-size: 24px;
    color: var(--text);
  }
}

